.custom-marker {
  background-color: red;
  border-radius: 50%;
  width: 1px;
  height: 1px;
}

.ifrc-style {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
}

.ifrc-style h2 {
  color: #d9534f;
}

.ifrc-style button {
  background-color: #d10f0f;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.ifrc-style button:hover {
  background-color: #db7171;
}

.space1 {
  margin-right: 220px;
}

.space2 {
  margin-right: 220px;
}

.space3 {
  margin-right: 220px;
}

.space4 {
  margin-right: 10px;
}

/* 在CSS中定义样式规则 */
.single_search_Container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.prefix-string {
  margin-right: 10px;
}

input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

/* datalist {
  /* 根据需要设置数据列表的样式 
} */

/* 可以根据需要调整按钮的样式 */
button {
  padding: 8px 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

/* 悬停时改变按钮颜色 */
button:hover {
  background-color: #45a049;
}



table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

#pagination {
  list-style: none;
  padding: 0;
  display: flex;
  /* Make the list items flex containers */
}

#pagination li {
  margin-right: 5px;
  /* Add some spacing between the pagination links */
}

#pagination a {
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  color: #333;
  cursor: pointer;
}


#disasterDetail {
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#disasterDetail h2 {
  color: #d9534f;
}

#disasterDetail p {
  margin-bottom: 10px;
}

#disasterDetail button {
  background-color: #d10f0f;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

#disasterDetail button:hover {
  background-color: #db7171;
}

#mapContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

#map {
  height: 300px;
  width: 48%;
}

#infoTable {
  max-width: 48%;
  overflow: auto;
}